@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';

/* GENERAL */

html,
body,
p,
h1,
img{
	padding: 0;
	margin: 0;

}

p,
h1{
	text-shadow: 8px 8px 10px grey;
}

body
{
	font-family: 'Bungee Shade', cursive;
	background-color:#9FD175;
}

#title{

	height: 200px;
	text-align: center;

}

#title-text{
	font-size: 72px;
	margin: 0;
}

#wrapper
{
	
	width: 100%;
	height: 100%;

}

/* GAME CANVAS */

#game-screen {
	
	display:block;
	/*border: 1px solid #F6546A;*/
	background-color:#ffffff;
	margin: auto;
	/*box-shadow: 10px 10px 5px grey;*/
}

/* INSTRUCTIONS */

#instructions{
	width: 100%;
	text-align: center;
}

p{
	padding-top: 20px;
	font-size: 1.5em;
}


#instructions img{

	margin: auto;
	display:block;
}
